.modelo {
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 12px;
}

main img {
    width: 22.5rem;
    right: 30rem;
    padding: 12px;
}
main .testes-fisico video {  
    width: 22.5rem;
    right: 30rem;
    padding: 12px;
}

main .fisico-text {
    width: 22.5rem;
    height: 20rem;
    padding: 12px;
}

main  p {
    background-color: #90189E;
    padding: .5rem;
    max-width: 100%;
    color: #FFFFFF;

}

